.THIS .heading 
{
    background-color: #939598 !important;
    font-size: 13px;
    color: white !important;
    padding:5px;
}
.THIS .slds-icon-text-default{
        fill: white !important;
}
.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    color: white !important;
    background-color: steelblue !important;
}
.THIS .slds-truncate {
    font-size:14px;
}
.THIS .slds-dueling-list__options
{
border: 1px solid rgb(13, 156, 234)!important;   
max-width: 280px!important;
height: 150px;
}
.THIS .slds-dueling-list__column_responsive
{
        min-width: 18rem !important;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type
{
    border: 1px solid;
}

.THIS.slds-size--3-of-8 {
    margin-left: 475px;
}

.THIS.headerClass {
    width: 200px;
}
/* Radio button design-START*/
.THIS .hidden
{
 display: none;   
}
.THIS .radio-button
{
    float: none !important;
}
.THIS .uiLabel
{
    font-size:14px;
}
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
/* Radio button design-END*/
.THIS .Newfilter{
border-radius: 29px;
        border-radius: 33px;
    margin-left: -46px;
    border: 1px solid #4169e1;
    height: 36px;
    background-color: #4169e1;
    color: white;
}
.THIS .slds-modal__container{
    max-width: 55rem !important;   
}