.THIS .forceChatterPublisher .uiTabBar,
.THIS .forceChatterPublisher .uiTabset--task .tabs__item:nth-child(1),
.THIS .forceChatterPublisher .uiTabset--task .tabs__item:nth-child(2),
.THIS .forceChatterPublisher .uiTabset--task .tabs__item:nth-child(3),
.THIS .forceChatterPublisher .uiTabset--task .tabs__item:nth-child(4){
    display:none;
}
.THIS .forceChatterPublisher .visibilitySwitcher,
.THIS .forceChatterPublisher .cuf-publisherTopics{
    display:none;
}
.THIS .forceChatterPublisher .tabs__content.uiTab{
    margin-top:10px;
}
.THIS .slds-grow{
    text-align:left;
    border:1px solid lightgray;
}