<apex:component controller="OTPNotificationEmailTemp" access="global">
    <apex:attribute name="tenantId" type="Id" description="Id of the Seller offer" assignTo="{!tenantuserId}" /> 
    <div style="width: 50%;background-color: #FAFAFA;">        
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Users.logo}"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
        <div style="margin-left: 10px;">
            Dear {!Users.firstname},
        </div>
        <br/>
        <div style="margin-left: 10px;"> 
            As per your request, the One Time Password (OTP) is <B>{!Users.OTP}</B>.
            <br/> <br/> 
            Please use this OTP to participate in the transaction.
            <br/> <br/> 
            <a href="{!Users.Tlink}">Click here to view the Transaction</a>
           <br/><br/> 
           Note: OTP will expire in 5 Minutes. 
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            {!Users.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>