<apex:component controller="TemplateInactiveEmailTEmp" access="global">
    <apex:attribute name="templateId" type="Id" description="Id of the product template" assignTo="{!tempId}" /> 
    <apex:variable var="cnt" value="{!0}" /> 
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Template.logo}"  alt="Template.logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Hi Admin,</th>
                <th ></th>
                <th ></th>
            </tr>
            <tr style="width:100%;">
                <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Template.tenantName} has Inactivated Product Template {!Template.templateName} with below details </th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Product Template </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Template.templateName}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Market Type</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Template.marketType}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Product Type  </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Template.templateType}</th>
            </tr>    
          
            <apex:repeat value="{!Template.Body}" var="body">
                <apex:variable var="cnt" value="{!cnt+1}"/>
                <apex:outputPanel rendered="{!cnt == 1}">
                    <tr>                  
                        <th style="padding:5px;text-align:left;font-weight:bold;">Attributes</th><th style="width:2%;">:</th>
                        <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!body}</th>
                    </tr>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!cnt > 1}">
                    <tr>                  
                        <th style="padding:5px;text-align:left;font-weight:bold;"></th><th style="width:2%;">:</th>
                        <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!body}</th>
                    </tr>
                </apex:outputPanel>
                
            </apex:repeat>            
           
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created By</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Template.CreatedBy}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created Date</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Template.CreatedDate}</th>
            </tr> 
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
            <br/>
            {!Template.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>