<apex:component controller="UserActiveNotifEmailTempToAdminCtrl" access="global">
     <apex:attribute name="tenuserId" type="Id" description="Id of the Seller offer" assignTo="{!userId}" /> 
   <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Users.logo}"  alt="orgtitle"/>    
        <br/>
         <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
         <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear TradeAix Admin,</th>
                <th ></th>
                <th ></th>
            </tr>
             <tr style="width:100%;">
                <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"> A new user registered in the TradeAix Platform. Find the details below</th>
               
            </tr>
             <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Salutation </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Salutation}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">First Name</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.firstname}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Last Name</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Last_Name}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Email </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.User_Email}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Designation</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Title}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Department</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Department}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Phone</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Phone}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Mobile</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Mobile}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Street</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Street}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">City</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.City}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">State/Province </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.State_Province}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Zip/Postal Code</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Zip_Postal_Code}</th>
            </tr><tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Country</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Users.Country}</th>
            </tr>
            
             </table>
       
        <div style="margin-left: 10px;">
       
           Please click on the link and continue further. 
            <br/> 
            <a href="https://tradeaix-stratizant.cs78.force.com/dev/s/admin">https://tradeaix-stratizant.cs78.force.com/dev/s/admin</a>
              <br/>        <br/> 
             <b> Note:</b> Please go to Administration / Tenant User / Click Active Button to Activate the User.
              <br/><br/>
                      </div>
          
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
           TradeAix Team
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>

</apex:component>