.THIS .uiOutputDateTime
{
    font-size: 12px;
}

.THIS .btn
{ font-size:0.8rem;}
.THIS .profileName {
    font-family: 'Poppins', sans-serif;
}
.THIS .h_card_dataCom{
    font-size: 0.8em;
    color: #0c8dd4;
}
.THIS .current.menuItem {
    border-left: 5px solid white !important;
}
.THIS .fa .fas {
    font-style: normal !important;
}
.THIS #sidebar .list-unstyled components toggle {
    margin-left: -200px !important;
}
.THIS.forceCommunityNavigationMenu
{
    border-bottom: 3px !important;
}
.THIS .navigationMenuWrapper {
    margin-top: 0px;
}
.THIS .navigationMenuWrapper .navigationMenu .navigationMenuNode.uiMenuItem,
.THIS .navigationMenuWrapper .navigationMenu .navigationMenuNode.uiMenuItem.hide{
    display:list-item !important;
}

.THIS .navigationMenuWrapper .navigationMenu .navigationMenuNode.uiMenuItem.navigationMenuOverflow{
    display:none !important;
}
.THIS .current.menuItem{
    /*Border:0px solid !important;*/
}
.THIS .forceCommunityNavigationMenu {
    padding:0px !important;
}
.THIS #sidebar {
    min-width: 230px !important;
    max-width: 230px !important;
}
.THIS #navigationMenu{
    background: rgb(12, 141, 212) !important;   
}

.THIS #addbankids
{
    width: 42%!important;
    margin-top: -7px;
}
.THIS #content{
    margin-top: 0px;
}



.THIS .forceCommunityNavigationMenu .navigationMenuNode+.navigationMenuNode{
    margin-right:0px !important
}

.THIS .forceCommunityNavigationMenu .menuItemLink, 
.THIS .forceCommunityNavigationMenu .menuItemLink.triggerLink, 
.THIS .forceCommunityNavigationMenu .subMenuItem a[aria-disabled=false] {
    max-width:100% !important;
    width:100% !important;
    border:none !important;
}

.THIS .current > .menuItemLink{
    background-color: white !important;
    color:rgb(12, 141, 212);
    margin-bottom: 0px !important;
    font-weight: bolder;
    /*font-size: 20px !important;
    
    line-height: 25px;*/
}
.THIS .uiMenuItem .current.menuItem{
    position:relative;
    border-left:none !important;
    border-right: 7px solid white!important;
}

.THIS .uiMenuItem .current.menuItem:after{
    /*content:'';
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(12, 141, 212);
    position:absolute;
    right:-15px;
    top:5px;*/
    /*content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 13px;
    background-color: white;
    border-radius: 4px;*/
    
}
.THIS .copyright{
    font-size: 0.8em;
    display: inline-block;
    color: white;
    padding: 10px;
    padding-left: 37px;
    width: 185px;
}
.THIS .copyright-footer{
    position: absolute;
    bottom: 15px;
    min-width: 230px;
}